<footer class="section " id="footer">
    <div class="overlay footer-overlay"></div>
    <!--Content -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-4 col-sm-12">
                <div class="footer-widget">
                    <!-- Brand -->
                    <a href="/" class="footer-brand text-white">
                        Incluyo
                    </a>
                    <p>
                        Incluyo es un emprendimiento social que fomenta el desarrollo emocional y personal de juventudes LGBTQ+ a través de la creación de espacios seguros.
                    </p>
                </div>
            </div>

            
            
        </div> <!-- / .row -->


        <div class="row text-right pt-5">
            <div class="col-lg-12">
                <!-- Copyright -->
                <p class="footer-copy ">
                    &copy; Copyright <span class="current-year">Incluyo</span>. Derechos reservados.
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>


<!--  Page Scroll to Top  -->

<a class="scroll-to-top js-scroll-trigger" href="#top-header">
    <i class="fa fa-angle-up"></i>
</a>