{{ define "main" }}

{{ $hero := .Site.Data.hero }}

{{ $eventsEndpoint := printf "%s%s%s"
$.Site.Params.contentfulContentURL
"content_type=event&access_token="
$.Site.Params.contentfulAPIKey
}}

<!-- HERO ================================================== -->
<section class="banner-area py-7">
    <!-- Content -->
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-lg-7 text-center text-lg-left">
                <div class="main-banner">
                    <!-- Heading -->
                    <h1 class="display-4 mb-4 font-weight-normal">
                        {{ $hero.title }}
                    </h1>

                    <!-- Subheading -->
                    <p class="lead mb-4">
                        {{ $hero.subtitle }}
                    </p>

                    <!-- Button -->
                    <p class="mb-0">
                        <a href="{{ $hero.buttonLink }}" class="btn btn-primary btn-circled">
                            {{ $hero.buttonText }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-lg-5 d-none d-lg-block">
                <div class="banner-img-block">
                    <img src="{{ $hero.img }}" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- CALENDAR ============================================== -->
<section class="section bg-grey" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Nuestros próximos espacios
                    </h2>

                    <!-- Subheading -->
                    <p>
                        ¡Conoce los espacios y actividades que estaremos organizando y únete!
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">

            {{ $events := getJSON $eventsEndpoint }}

            {{ range $events.items }}

            {{ $imgEndpoint := printf "%s%s%s%s"
            $.Site.Params.contentfulAssetsURL .fields.image.sys.id
            "?access_token=" $.Site.Params.contentfulAPIKey
            }}

            {{ $imgJSON := getJSON $imgEndpoint }}

            {{ $imgURL := printf "%s%s" "https:" $imgJSON.fields.file.url }}

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="{{ $imgURL }}" alt="" class="img-fluid">

                    <h3>{{ .fields.title }}</h3>
                    <p>{{ .fields.description }}</p>
                    <p>
                        <i class="ti-calendar"></i>&nbsp;&nbsp;{{ .fields.date }} &nbsp;&nbsp;
                        <i class="ti-alarm-clock"></i>&nbsp;&nbsp;{{ .fields.time }} &nbsp;&nbsp;
                        {{ if .fields.digital }}
                        <i class="ti-link"></i>&nbsp;&nbsp;{{ .fields.platform }} &nbsp;&nbsp;
                        {{ else }}
                        <i class="ti-location-pin"></i>&nbsp;&nbsp;{{ .fields.platform }} &nbsp;&nbsp;
                        {{ end }}
                    </p>
                    <p class="mb-0">
                        <a href="{{ .fields.url }}" class="btn btn-outline-dark btn-circled" target="_blank">
                            {{ .fields.cta }}
                        </a>
                    </p>
                </div>
            </div>

            {{ end }}

        </div>
    </div>
</section>

{{ end }}