<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body id="top-header">
    <!-- LOADER TEMPLATE -->
    <div id="page-loader">
        <div class="loader-icon fa fa-spin colored-border"></div>
    </div>
    <!-- /LOADER TEMPLATE -->
    {{- partial "header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
    {{ partial "scripts.html" . }}
</body>

<!-- <script>
    if (location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
    }
</script> -->

<script>(function (d) { var s = d.createElement("script"); s.setAttribute("data-account", "DbnJcjIKNm"); s.setAttribute("src", "https://cdn.userway.org/widget.js"); (d.body || d.head).appendChild(s); })(document)</script>
<noscript>
    Para habilitar <a href="https://userway.org">las opciones de accesibilidad</a>
    es necesario activar JavaScript.
</noscript>

</html>