<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir menú">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

    {{ $mainMenu := .Site.Menus.main }}
    {{ range $mainMenu }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL }}">{{ strings.ToUpper .Name }}</a>
    </li>
    {{ end }}

  </ul>
</div>