{{ $teamEndpoint := printf "%s%s%s"
$.Site.Params.contentfulContentURL
"content_type=team-member&access_token="
$.Site.Params.contentfulAPIKey
}}

<section class="content">
  <div class="container py-5">
    <div class="row px-4">

      <div class="col-3 mobile-hide sidebar">
        <ul>
          <li>
            <a href="#1">¿Qué es Incluyo?</a>
          </li>
          <li>
            <a href="#2">¿Qué queremos ser?</a>
          </li>
          <li>
            <a href="#3">Equipo de trabajo</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 scrollable">
        <img src="/img/incluyo-pride.webp" alt="Incluyo presente en la marcha de Guadalajara Pride 2023"
          class="inline-image" />

        <h1 id='1' class='scroll-margin'>¿Qué es Incluyo?</h1>
        <p>Incluyo es un emprendimiento social que fomenta el desarrollo emocional y personal de juventudes
          LGBTQ+ a través de la creación de espacios seguros.</p>

        <h1 id='2' class='scroll-margin'>¿Qué queremos ser?</h1>
        <p>Queremos ser una empresa social (autosustentable, trascendental y replicable) que trabaje por cubrir
          las necesidades básicas de la juventud LGBTQ+ (hogar, sustento económico, bienestar emocional,
          legal) a través de una metodología propia. </p>

        <h1 id='3' class='scroll-margin'>Conoce a nuestro equipo</h1>

        <div class="container">
          <div class='row py-3'>

            {{ $team := getJSON $teamEndpoint }}

            {{ range $team.items }}

            {{ $imgEndpoint := printf "%s%s%s%s"
            $.Site.Params.contentfulAssetsURL .fields.photo.sys.id
            "?access_token=" $.Site.Params.contentfulAPIKey
            }}

            {{ $imgJSON := getJSON $imgEndpoint }}

            {{ $imgURL := printf "%s%s" "https:" $imgJSON.fields.file.url }}

            <div class="col-lg-6">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <img src="{{ $imgURL }}" alt="{{ .fields.name }}" class="profile-pic">
                  <h2 class="card-title">{{ .fields.name }}</h5>
                    <p class="card-text">{{ .fields.sm_handle }}</p>
                </div>
              </div>
            </div>

            {{ end }}

          </div>
        </div>

      </div>

    </div>
  </div>

</section>