<div class="container descarga">
  <div class="row py-4">

    <div class="col-lg-5 col-md-12 col-sm-12 col-11 mb-30">
      <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank'>
        <img src="/img/MetodologiaPortada.png" alt="Metodología Incluyo" class="img-fluid metodologia-cover" />
      </a>
    </div>

    <div class="col-lg-7 col-md-12 col-sm-12 col-11">
      <h2>Metodología para la creación de Espacios Seguros para Juventudes LGBTQ+</h2>
      <h3>Descarga ditigal gratuita</h3>

      <p>
        <b>Autoría:</b>
        Erika Daniela Cisneros González,
        Emanuel Estrada Larios,
        Daniel Antonio Ortega Medina,
        Amairany Vega Bravo
      </p>

      <p><b>Año de publicación:</b> 2023</p>

      <p>
        <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank' class="btn btn-incluyo btn-lg">
          📥 &nbsp; Descargar PDF
        </a>
      </p>

    </div>
  </div>
</div>