<section class="content">
  <div class="container py-5">
    <div class="row px-4">

      <div class="col-3 mobile-hide sidebar">
        <ul>
          <li>
            <a href="#1">Introducción</a>
          </li>
          <li>
            <a href="#2">Presentación</a>
          </li>
          <li>
            <a href="#3">Descargar la metodología</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 scrollable">

        <h1 id='1' class='scroll-margin'>Metodología Incluyo</h1>
        <p>Crear espacios seguros para personas LGBTQ+ es responsabilidad de todes.
          ¿Pero, qué son realmente los espacios seguros? Nuestra publicación: <b>"Metodología para la creación
            de
            Espacios Seguros para Juventudes LGBTQ+"</b> busca ser un documento de referencia pública para
          que
          cualquier persona,
          colectivo u organización pueda utilizarlo como herramienta para fortalecer sus propios esfuerzos en
          favor de las
          personas LGBTQ+.</p>

        <h1 id='2' class='scroll-margin'>Presentación de la Metodología</h1>
        <p>
          Mira aquí la grabación del evento de presentación de la metodología, en el que el equipo
          de Incluyo aprovechó para compartir con sus aliades sobre los contenidos y usos de la
          metodología.
        </p>

        <a href="https://www.youtube.com/watch?v=-H98jOO6r08" target='_blank'>
          <img src="/img/presentacion-thumbnail.png" alt="Video" class="img-fluid metodologia-video" data-toggle="modal"
            data-target="#exampleModalCenter">
        </a>


        <h1 id='3' class='scroll-margin'>Descargar la metodología</h1>

        <div class="container descarga">

          <div class="row py-4">

            <div class="col-lg-5 col-md-12 col-sm-12 col-11 mb-30">
              <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank'>
                <img src="/img/MetodologiaPortada.png" alt="Metodología Incluyo" class="img-fluid metodologia-cover" />
              </a>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12 col-11">
              <h2>Metodología para la creación de Espacios Seguros para Juventudes LGBTQ+</h2>
              <h3>Descarga ditigal gratuita</h3>

              <p>
                <b>Autoría:</b>
                Erika Daniela Cisneros González,
                Emanuel Estrada Larios,
                Daniel Antonio Ortega Medina,
                Amairany Vega Bravo
              </p>

              <p><b>Año de publicación:</b> 2023</p>

              <p>
                <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank' class="btn btn-incluyo btn-lg">
                  📥 &nbsp; Descargar PDF
                </a>
              </p>

            </div>
          </div>
        </div>

        <p>
          Si tienes cualquier duda o retroalimentación respecto al documento, escríbenos
          a <a
            href="mailto:&#104;&#111;&#108;&#097;&#064;&#105;&#110;&#099;&#108;&#117;&#121;&#111;&#046;&#108;&#103;&#098;&#116;">hola@incluyo.lgbt</a>.
        </p>

        <p>
          Este documento busca ser una referencia pública para que cualquier persona,
          colectivo u organización pueda utilizarlo como herramienta
          para fortalecer sus propios esfuerzos en favor de las personas LGBTQ+.
          ¡Descárgalo y comparte!
        </p>


      </div>

    </div>
  </div>

</section>