{{ $teamEndpoint := printf "%s%s%s"
$.Site.Params.contentfulContentURL
"content_type=team-member&access_token="
$.Site.Params.contentfulAPIKey
}}

<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-11">
                <div class="section-heading">
                    <h1 class="text-white">
                        Crear espacios seguros para personas LGBTQ+ es responsabilidad de todes.
                    </h1>
                    <p class="mt-40">
                        <a href="#descarga" class="btn btn-primary btn-circled">
                            Descarga la metodología
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-11">
                <p class="lead text-white" style='font-weight: 600;'>
                    Incluyo fomenta el desarrollo emocional y personal de juventudes
                    LGBTQ+ a través de la creación de espacios seguros. ¿Pero, qué son realmente
                    los espacios seguros? Nuestra publicación:
                    <i>"Metodología para la creación de Espacios Seguros para Juventudes LGBTQ+" </i>
                    busca ser un documento de
                    referencia pública para que cualquier persona, colectivo u organización
                    pueda utilizarlo como herramienta para fortalecer sus propios esfuerzos en
                    favor de las personas LGBTQ+.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container" id="descarga">
    <div class="row py-4 justify-content-center">
        <div class="col-lg-5 col-md-12 col-sm-12 col-11 mb-30">
            <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank'>
                <img src="/img/MetodologiaPortada.png" alt="Metodología Incluyo" class="img-fluid"
                    id="metodologia-cover">
            </a>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-11">
            <h2>Metodología para la creación de Espacios Seguros para Juventudes LGBTQ+</h2>
            <h4 style='font-style: italic;'>Descarga ditigal gratuita</h4>
            <p>
                <b>Autoría:</b>
                Erika Daniela Cisneros González,
                Emanuel Estrada Larios,
                Daniel Antonio Ortega Medina,
                Amairany Vega Bravo
                <br />
                <b>Año de publicación:</b> 2023
            </p>
            <p>
                <a href="https://recursos.incluyo.lgbt/metodologia" target='_blank' class="btn btn-primary btn-circled"
                    style="font-size: 1rem;">
                    📥 &nbsp; Descargar PDF
                </a>
            </p>
            <p>
                Este documento busca ser una referencia pública para que cualquier persona,
                colectivo u organización pueda utilizarlo como herramienta
                para fortalecer sus propios esfuerzos en favor de las personas LGBTQ+.
                ¡Descárgalo y comparte!
            </p>
            <p>
                Si tienes cualquier duda o retroalimentación respecto al documento, escríbenos
                a <a
                    href="mailto:&#104;&#111;&#108;&#097;&#064;&#105;&#110;&#099;&#108;&#117;&#121;&#111;&#046;&#108;&#103;&#098;&#116;">hola@incluyo.lgbt</a>.
            </p>

        </div>
    </div>
</div>