<section class="content">
  <div class="container" id='main'>

    <div id='loader' class='py-5' style='text-align: center;'>
      <h1>Cargando...</h1>
    </div>


    <script>
      window.onload = function () {
        const queryParams = window.location.search;
        const iframeURL = 'https://registro.incluyo.lgbt/rsvp' + queryParams;
        const iframe = document.createElement('iframe');
        iframe.setAttribute('src', iframeURL);
        iframe.setAttribute('width', '100%');
        iframe.setAttribute('height', '1000px');
        iframe.setAttribute('scrolling', 'no')
        document.getElementById('main').replaceChildren(iframe);
        // setTimeout(() => {
        //   document.getElementById('loader').remove();
        // }, 1300)
      }

    </script>

  </div>
</section>