<span class='social-media-icons'>
  <a href="https://instagram.com/incluyolgbt" aria-label="Navegar al perfil de Instagram" target='_blank'>
    <img src="/img/instagram.png" alt="Ícono de Instagram">
  </a>

  <a href="https://tiktok.com/@incluyolgbt" aria-label="Navegar al perfil de Tiktok" target='_blank'>
    <img src="/img/tiktok.png" alt="Ícono de TikTok">
  </a>

  <a href="https://x.com/incluyolgbt" aria-label="Navegar al perfil de X (antes Twitter)" target='_blank'>
    <img src="/img/twitter.png" alt="Ícono de X (antes Twitter)">
  </a>

  <a href="https://www.threads.net/@incluyolgbt" aria-label="Navegar al perfil de Threads " target='_blank'>
    <img src="/img/threads.png" alt="Ícono de Threads">
  </a>

  <a href="https://www.linkedin.com/company/incluyolgbt/" aria-label="Navegar al perfil de LinkedIn" target='_blank'>
    <img src="/img/linkedin.png" alt="Ícono de LinkedIn">
  </a>
</span>